# Biến môi trường kết nối Database SQL Server
PORT=5000
NODE_ENV=development

# Tên Server SQL trên máy bạn (Mặc định thường là (localdb)\mssqllocaldb hoặc .\SQLEXPRESS)
DB_SERVER=(localdb)\mssqllocaldb
DB_NAME=retail_spoilage_db
DB_TRUSTED_CONNECTION=true

# Nếu dùng tài khoản sa (SQL Server Authentication) thì điền bên dưới:
# DB_USER=sa
# DB_PASSWORD=your_password
